.map-container {
  margin: 3em 0;

  .alignment-helper {
    height: 0;
    position: relative;
    overflow: visible;
    z-index: 1;
  }

  .map {
    height: 500px;
    max-height: 60vmin;
    z-index: 0;
    cursor: move;
  }

  .jvectormap-zoomin, .jvectormap-zoomout {
    display: none;
  }

  .zoom-in, .zoom-out {
    position: absolute;
    left: 0;
  }

  .zoom-in {
    top: $hit-box-height;
    background: $dark-grey;

    svg {
      fill: #fff;
    }

    &:hover, &:focus {
      background: #000;
    }
  }

  .zoom-out {
    top: ($hit-box-height * 2);
    background: #fff;

    svg {
      fill: $dark-grey;
    }

    &:hover, &:focus {
      background: $light-grey;
    }
  }

  // Map colours

  .jvectormap-region {
    fill-opacity: 1;

    @each $configName, $colourConfig in $colourConfigs {
      &.#{$configName} {
        fill: map-get($colourConfig, intense);

        &.partner {
          fill: map-get($colourConfig, subtle)
        }

        &:hover {
          fill-opacity: 0.6;
        }
      }
    }
  }
}