@import "buttons-dark";

button, .button {
  box-sizing: content-box;
  padding: 1.5ex 2.5ex;
  font-size: inherit;
  line-height: 1em;
  height: 1em;
  white-space: nowrap;
  text-transform: none;
  font-weight: normal;
  background: $mid-grey;
  color: #fff;

  &:hover, &:focus {
    opacity: 0.8;
  }

  &.hollow {
    background: transparent;
    border: 1px solid $mid-grey;
    color: $mid-grey;
  }

  &:not(.square-icon) {
    min-width: 6em;
  }

  &.square-icon {
    $padding: 10px;
    box-sizing: border-box;
    width: $hit-box-height;
    height: $hit-box-height;
    padding: $padding;
    border: none;

    svg {
      width: ($hit-box-height - 2*$padding);
      height: ($hit-box-height - 2*$padding);
    }
  }
}

@each $configName, $colourConfig in $colourConfigs {
  &.#{$configName} {
    button, .button {
      border-color: map-get($colourConfig, intense);
      background: map-get($colourConfig, intense);

      &:hover, &:focus {
        border-color: map-get($colourConfig, subtle);
        background: map-get($colourConfig, subtle);
      }

      &.hollow {
        color: map-get($colourConfig, intense);
        background: transparent;

        &:hover, &:focus {
          color: map-get($colourConfig, subtle);
        }
      }
    }
  }
}