.row {
  display: flex;
  flex-flow: row wrap;
}

.card, .card-with-left-image {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  display: block;

  a, button {
    position: relative;
    z-index: 2;
  }

  a.card-cta-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.card {
  border: 1px solid;
  padding: 1.5rem 2rem;
  display: inline-flex;
  flex-flow: column nowrap;
  align-content: space-between;
  align-items: flex-start;
  color: inherit;
  font: inherit;
  text-decoration: initial;
  overflow: hidden;

  h3, h4 {
    a {
      color: inherit;

      &:hover {
        color: $teal;
      }
    }
  }

  .identifier {
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
    width: 100%;
    border-bottom: 1px solid $light-grey;
    font-size: 16px;
    opacity: 0.8;
  }

  p:last-of-type {
    display: flex;
    flex: 1 1 auto;
    margin-bottom: 1rem;
  }

  &.without-border {
    border: none;
  }

  &.wide {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.card-with-left-image {
  font-size: 0;
  display: flex;
  flex-flow: row wrap;

  .image-container {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
      display: block;
      min-width: 100%;
      min-height: 100%;
    }
  }

  .card {
    margin: 0;
    display: inline-block;
    display: inline-flex;
    vertical-align: top;
    float: none;
  }
}

.dark-card {
  background: black;
  color: white;
}

@media (#{$bp-larger-than-phablet}) {
  div.card-with-left-image {
    .image-container {
      width: grid-offset-length(6);
    }
  }
}