.card.with-image {
  border: none;

  .image-container {
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .card {
    border: none;
    margin: 0;
    width: 100%;

    .header {
      border-bottom: none;
    }
  }

  &.image-left {
    font-size: 0;
    display: flex;
    flex-flow: row wrap;

    .image-container {
      display: inline-block;
      vertical-align: top;
    }

    .card {
      display: inline-block;
      vertical-align: top;
      padding-top: 1rem;
    }
  }

  &.image-top {
    .image-container img {
      padding: 0 1.5em;
      box-sizing: border-box;
      max-width: 200px;
    }

    & > .card {
      flex: 1 0 auto;
    }
  }
}

@media (#{$min-width-desktop}) {
  .card.with-image.image-left {
    .card {
      box-sizing: border-box;
      width: 50%;
      padding-left: (0.5 * $column-margin);
      margin: 0;
    }
    .image-container {
      width: 50%;
      margin: 0;

      img {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        max-width: none;
        position: absolute;
      }
    }
  }
}

.card-container.statistics {
  @include wrapsUnderneathAside;
  @include cardsAreCentered;

  .card {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    overflow: visible;

    .statistic-value {
      font-size: 3em;
      font-weight: bold;
      width: 100%;
    }

    .statistic-text {
      width: 100%;
    }
  }
}

@each $configName, $colourConfig in $colourConfigs {
  &.#{$configName} {
    .card-container.statistics {
      .card .statistic-value {
        color: map_get($colourConfig, intense);
      }
    }
  }
}

.card-container.opportunities {
  .card {
    font-weight: bold;
    font-size: 0.8em;

    .status {
      font-weight: normal;
    }

    button, .button {
      margin: 0;
      box-sizing: border-box;
      padding: 0.7em 0.5ex;
      min-width: 0;
      max-width: 100%;
      height: auto;
    }
  }
}

.card-container.people, .card-container.organisations {
  .card {
    .header {
      padding-bottom: 0;
    }
    h3 {
      font-size: 1.3em;
    }
    .image-container {
      height: 150px;
      position: relative;
    }
    img {
      max-width: 100%;
      max-height: 120px;
      width: auto;
      height: auto;
      position: absolute;
      left: 0;
      bottom: 10px;
    }
    .identifier {
      margin-top: 0.5ex;
    }
    p {
      margin-top: 0;
      font-size: 1em;
    }
  }
}

.card-container.people {
  .card {
    img {
      border-radius: 50%;
    }
  }
}

.card-container.link-collection {
  border: 0 solid $turquoise;
  border-width: 1px 0;
  color: $turquoise;
  margin: 0.5em 0 2em;

  .card {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    .header {
      padding: 0;
      border: none;

      p {
        margin: 0;
        font-size: 1em;
      }
    }

    .content {
      display: none;
    }
  }

  a:hover {
    color: $dark-grey;
  }
}

@media (#{$min-width-mobile}) {
  .card-container.link-collection {
    .card {
      .header {
        font-size: 1.2em;
      }
    }
  }
}

@media (#{$min-width-tablet}) {
  .card-container.link-collection {
    justify-content: flex-start;
    border-width: 0 0 1px;
    padding-bottom: 1ex;
    margin-top: 0;

    .card {
      display: inline-block;
      width: auto;
      margin: 0.5em 2em 0.5em 0 !important;

      .header {
        font-size: 1.5em;
      }
    }
  }
}

@each $configName, $colourConfig in $colourConfigs {
  &.#{$configName} {
    .card-container.link-collection {
      border-color: map_get($colourConfig, intense);

      .card {
        color: map_get($colourConfig, intense);
      }
    }
  }
}

.card-container.useful-links {
  .card {
    .header {
      height: 100%;
      font-size: 0.8em;
    }

    h3 {
      margin-top: 0.8em;
      margin-bottom: 0.8em;
    }
  }
}

.card-container.youtube {
  .card {
    box-sizing: content-box;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto !important;

    .content {
      padding-top: 1.5em;
    }

    iframe {
      max-width: 100%;
    }
  }
}