// From https://projects.invisionapp.com/share/VYJF6DC63M7#/screens/297183189
$turquoise: #009999;
$forest: #007145;
$navy: #256b99;
$purple: #75447e;
$teal: #31b7bc;
$green: #41ad4c;
$blue: #2b87c8;
$pink: #c994c3;
