// From https://projects.invisionapp.com/share/VYJF6DC63M7#/screens/297183189
$turquoise: #009898;
$forest: #007145;
$navy: #256b99;
$purple: #75447e;
$teal: #31b7bc;
$green: #41ad4c;
$blue: #2b87c8;
$pink: #c994c3;

// from visual design
$light-grey: #f4f4f4;
$dark-grey: #3b3b3a;

$light-grey-text: #656565;
$light-text: #fff;

$mid-grey: #919191;

$light-turquoise: #82d3d6;