.full-width-container {
  position: relative;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.supporting-content {
  background: $light-grey;
  padding: 3em 0;
  margin: 3em 0;

  .card {
    background: #fff;
  }
}