@mixin has_left_rightward_arrow {
  &:before {
    margin-left: 1ex;
    margin-right: 1ex;
    content: '›';
  }
}

@mixin has_left_leftward_arrow {
  &:before {
    margin-left: 1ex;
    margin-right: 1ex;
    content: '‹';
  }
}

@mixin horizontal_ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  display: inline-block;

  li {
    list-style-type: none;
    display: inline-block;
    margin: 0;

    a {
      font: inherit;
      color: inherit;
      text-decoration: none;
      display: inline-block;
      padding: 0.7em 0;

      img {
        height: 12px;
        padding: 0 0.7ex;
      }
    }

    &.inline-submenu:not(:first-child) {
      @include has_left_rightward_arrow;
    }
  }
}

@mixin pipe_horizontal_ul($pipe-height: 0.8em, $pipe-vertical-align: text-top) {
  @include horizontal_ul;

  li:not(.inline-submenu):not(:first-child):before {
    margin: 0.2em 1ex 0;
    height: $pipe-height;
    width: 1px;
    background: currentColor;
    opacity: 0.45;
    content: ' ';
    display: inline-block;
    vertical-align: $pipe-vertical-align;
  }
}