@mixin is_li_with_left_rightward_arrow {
  &:before {
    margin-left: 1ex;
    margin-right: 1ex;
    content: '›';
  }
}

@mixin horizontal_ul($highlight-active) {
  margin: 0;
  padding: 0;
  font-size: 0;
  display: inline-block;

  li {
    list-style-type: none;
    display: inline-block;
    margin: 0;

    a {
      font: inherit;
      color: inherit;
      text-decoration: none;
      display: inline-block;
      padding: 0.7em 0;

      img {
        height: 12px;
        padding: 0 0.7ex;
      }
    }

    &.inline-submenu:not(:first-child) {
      @include is_li_with_left_rightward_arrow;
    }
  }

  @if ($highlight-active) {
    li.active a {
      padding-bottom: 0.5em;
      border-bottom: 0.2em solid currentColor;
    }
  }
}

@mixin pipe_horizontal_ul($highlight-active, $pipe-height: 1em, $pipe-vertical-align: text-top) {
  @include horizontal_ul($highlight-active);

  li:not(.inline-submenu):not(:first-child):before {
    margin-left: 1ex;
    margin-right: 1ex;
    height: $pipe-height;
    width: 1px;
    background: currentColor;
    content: ' ';
    display: inline-block;
    vertical-align: $pipe-vertical-align;
  }
}

@mixin breadcrumb_horizontal_ul($highlight-active) {
  @include horizontal_ul($highlight-active);

  li:not(:first-child) {
    @include is_li_with_left_rightward_arrow;
  }
}