{% if content_block.links %}
  {% if content_block.heading %}
    <p><b>{{ content_block.heading }}</b></p>
  {% endif %}
  <div class="useful-links card-container two-max">
    {% for useful_link in content_block.links %}
      {% include 'cards/base.html' with {'card': {
        'decorated': true,
        'inverted_header': true,
        'title': useful_link.title_override,
        'overview': useful_link.description,
        'inverted_header': true,
        'link_target': useful_link.link,
      }} %}
    {% endfor %}
  </div>
{% endif %}