.youtube-embed {
  background: $light-grey;
  padding: 1em;
  border-top: 0.3em solid $turquoise;
  box-sizing: border-box;
  margin: 1em auto;
  max-width: 500px;

  iframe {
    max-width: 100%;
  }

  a {
    color: $turquoise;
  }
}

.supporting-content {
  .youtube-embed {
    background: #fff;
  }
}