{{ include('layout/header.html') }}

{% embed 'layout/full-width-container.html' %}
  {% block container %}
    <div style="background: #f4f4f4; padding: 1.25rem 0 0;">
      <div class="container">
        {{ include('page-elements/current-opportunities.html') }}
      </div>
    </div>
  {% endblock %}
{% endembed %}

{% embed 'layout/full-width-container.html' %}
  {% block container %}
    <div class="home-splash">
      <div class="container">
        <p class="large-text">We are a UK Government aid programme, helping low and middle
          income countries tackle antimicrobial resistance (AMR). Our focus is high-quality data,
          shared nationally and globally.</p>
        {% include 'layout/link-collection.html' with {'links': [
          nav.aboutUsLink, nav.whatIsAMRLink, nav.importanceOfDataLink
        ]} %}
      </div>
    </div>
  {% endblock %}
{% endembed %}

{% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}

{{ include('layout/footer.html') }}
