{{ include('layout/header.html') }}

<div class="row border-bottom-grey" style="margin-top: 1em; padding-bottom: 1rem;">
  <div>
    <p class="supporting" style="margin-bottom: 1.25rem">
      <!-- qq should this be in the heading style? Can't easily use h3 here -->
      <span style="font-weight: bold; margin-right: 2em;">Current &amp; Upcoming Opportunities</span>
      <span>More</span>
    </p>
  </div>
  <div>
    <div class="three columns">
      <span style="font-weight: bold">{{ opportunities[0].title }}</span><br/>
      <span style="font-weight: bold">Status:</span> Deadline {{ opportunities[0].fields.deadline.value }}
    </div>
    <div class="three columns">
      <span style="font-weight: bold">{{ opportunities[1].title }}</span><br/>
      <span style="font-weight: bold">Status:</span> Deadline {{ opportunities[1].fields.deadline.value }}
    </div>
    <div class="three columns">
      <span style="font-weight: bold">{{ opportunities[2].title }}</span><br/>
      <span style="font-weight: bold">Status:</span> Deadline {{ opportunities[2].fields.deadline.value }}
    </div>
    <div class="three columns">
      <button>How to Apply</button>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 3em; margin-bottom: 3em">
  <h2>We are a UK Government aid programme, helping low / middle income countries tackle antimicrobial
    resistance (AMR). Our focus is high-quality data, shared nationally and globally.</h2>
  <ul class="large-links">
    <li>About Us</li>
    <li>Our Aims</li>
    <li>What is AMR</li>
  </ul>
</div>

<div class="row">
  <div class="six columns" style="width: 52%"><!-- = six columns + margin -->
    <img src="https://placekitten.com/g/540/480" width="540" height="480" alt=""
         style="max-width: 100%; height: auto; width: auto;" />
  </div>
  <!-- need a margin-independent way of matching height against image -->
  <div class="six columns" style="border: 1px solid; padding: 1.5rem 2rem; min-height: 444px; margin-left: 0px;">
    <h3>{{ fields.headline_case_study.title }}</h3>
    <p>{{ fields.headline_case_study.fields.content.value | raw }}</p>
    <button class="button-dark">See All Case Studies</button>
  </div>
</div>

<div class="row">
  <div class="six columns card">
    <p class="identifier">Grant</p>
    <!-- horizontal line -->
    <h3>{{ fields.headline_grant_type.title }}</h3>
    <p>{{ fields.headline_grant_type.fields.overview.value | raw }}</p>
  </div>
  <div class="six columns card">
    <p class="identifier">Project</p>
    <!-- horizontal line -->
    <h3>{{ fields.headline_project.title }}</h3>
    <p>{{ fields.headline_project.fields.progress.value | raw }}</p>
  </div>
</div>

<div class="row statistics">
  <div class="three columns">
    <p style="font-size: 48px; font-weight: bold; width: 100%; text-align: center">£{{ fields.spend_statistic.value }}m</p>
    <p class="supporting" style="width: 100%; text-align: center">Spend statistic</p>
  </div>
  <div class="three columns">
    <p style="font-size: 48px; font-weight: bold; width: 100%; text-align: center">{{ fields.grants_given.value }}</p>
    <p class="supporting" style="width: 100%; text-align: center">Grants given</p>
  </div>
  <div class="three columns">
    <p style="font-size: 48px; font-weight: bold; width: 100%; text-align: center">{{ fields.performance_indicator.value }}</p>
    <p class="supporting" style="width: 100%; text-align: center">Performance against any KPI</p>
  </div>
  <div class="three columns">
    <p style="font-size: 48px; font-weight: bold; width: 100%; text-align: center">{{ fields.another_statistic.value }}</p>
    <p class="supporting" style="width: 100%; text-align: center">Statistical supporting copy</p>
  </div>
</div>

<h3 class="row-title">Current and Upcoming Opportunities</h3>
<div class="row">
  <div class="six columns card">
    <h3>Opportunity Title</h3>
    <p>Budget: £41,531,637<br/>Status: Implementation</p>
    <p class="supporting">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi
      ullamcorper pulvinar. Nam dignissim ipsum et diam finibus, quis sodales sem congue. Ut vitae porta dui.
      Aliquam.</p>
    <button class="button-dark">Apply Now</button>
  </div>
  <div class="six columns card">
    <h3>Opportunity Title</h3>
    <p>Budget: £41,531,637<br/>Status: Implementation</p>
    <p class="supporting">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi
      ullamcorper pulvinar. Nam dignissim ipsum et diam finibus, quis sodales sem congue. Ut vitae porta dui.
      Aliquam.</p>
    <button class="button-dark">Apply Now</button>
  </div>
</div>

<hr class="row-divider" />

<h3 class="row-title">Useful Links</h3>
<div class="row">
  <div class="three columns card">
    <h4>Latest Guide</h4>
    <p class="supporting">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi
      ullamcorper pulvinar.</p>
  </div>
  <div class="three columns card">
    <h4>Latest Guide</h4>
    <p class="supporting">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi
      ullamcorper pulvinar.</p>
  </div>
  <div class="three columns card">
    <h4>Latest Guide</h4>
    <p class="supporting">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi
      ullamcorper pulvinar.</p>
  </div>
  <div class="three columns card">
    <h4>Latest Guide</h4>
    <p class="supporting">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi
      ullamcorper pulvinar.</p>
  </div>
</div>

{{ include('layout/footer.html') }}
