{{ include('layout/header.html') }}

{{ include('layout/current-opportunities.html') }}

{% embed 'layout/full-width-container.html' %}
  {% block container %}
    <div class="home-splash">
      <div class="container">
        <h2>We are a UK Government aid programme, helping low / middle income countries tackle antimicrobial
          resistance (AMR). Our focus is high-quality data, shared nationally and globally.</h2>
        <ul class="large-links">
          {% include '1-atoms/link-items-text.html' with {'links': [
            nav.aboutUsLink, nav.ourAimsLink, nav.whatIsAMRLink
          ]} %}
        </ul>
      </div>
    </div>
  {% endblock %}
{% endembed %}

<div class="card-container cover">
  {% include 'cards/entities/publication-large-with-image.html' with {
    'publication': fields.headline_case_study,
    'cta_override': {
      'title': 'See all Case Studies',
      'target': nav.caseStudiesLink.target
    }
  } %}
</div>

<div class="card-container large">
  {% include 'cards/entities/project-large.html' with {
    'project': fields.headline_project
  } %}
  {% include 'cards/entities/project-large.html' with {
    'project': fields.headline_project
  } %}
</div>

<hr class="row-divider"/>

<div class="card-container small">
  {% include 'cards/entities/statistic-small.html' with {'statistic': {
    'value': '£'~fields.spend_statistic.value~'m',
    'label': 'Spend statistic'
  }} %}
  {% include 'cards/entities/statistic-small.html' with {'statistic': {
    'value': fields.grants_given.value,
    'label': 'Grants given'
  }} %}
  {% include 'cards/entities/statistic-small.html' with {'statistic': {
    'value': fields.performance_indicator.value,
    'label': 'Performance against any KPI'
  }} %}
  {% include 'cards/entities/statistic-small.html' with {'statistic': {
    'value': fields.another_statistic.value,
    'label': 'Statistical supporting copy'
  }} %}
</div>

{% embed 'layout/supporting-content.html' %}
  {% block content %}

    <h3>Current and Upcoming Opportunities</h3>
    <div class="card-container large">
      {% include 'cards/entities/grant-large.html' with {'grant': fields.highlight_opportunity_1} %}
      {% include 'cards/entities/grant-large.html' with {'grant': fields.highlight_opportunity_2} %}
    </div>

    {{ include('layout/useful-links.html') }}

  {% endblock %}
{% endembed %}

{{ include('layout/footer.html') }}
