{{ include('layout/header.html') }}

<h1>{{ title }}</h1>
{% include 'page-elements/in-page-links.html' %}

{% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}

{% embed 'layout/supporting-content.html' with {'tight': true} %}
  {% block content %}

    <div class="card-container two-max">
      {% for project in query_result.posts %}
        {% include 'cards/entities/project-large.html' %}
      {% endfor %}
    </div>

    {% include 'page-elements/pagination-links.html' %}

  {% endblock %}
{% endembed %}

<script type="text/javascript">
    Fleming.projects.init({{ query_result.max_page }});
</script>

{{ include('layout/footer.html') }}