{{ include('layout/header.html') }}

<h1>{{ title }}</h1>
{% include 'page-elements/in-page-links.html' %}

{% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}

{% if fields.related_content.value is not empty %}
  {% embed 'layout/supporting-content.html' %}
    {% block content %}
      <h3>Related Content</h3>
      <div class="card-container three-max">
        {% for publication in fields.related_content.value %}
          {% include 'cards/entities/publication.html' %}
        {% endfor %}
      </div>
    {% endblock %}
  {% endembed %}
{% endif %}

{{ include('layout/footer.html') }}
