{{ include('layout/header.html') }}

<h1>{{ title }}</h1>

{% include 'page-elements/in-page-links.html' %}

{% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}

<div class="organisations card-container three-max">
  {% for organisation in allOrganisations %}
    {% include 'cards/entities/organisation-with-image.html' %}
  {% endfor %}
</div>

{% if fields.supporting_content.value is not empty %}
{% embed 'layout/supporting-content.html' %}
  {% block content %}

    {% include 'flexible_content.twig' with { 'flexible_content': fields.supporting_content.value } %}

  {% endblock %}
{% endembed %}
{% endif %}

{{ include('layout/footer.html') }}