{{ include('layout/header.html') }}

<h1>{{ title }}</h1>
{% include 'page-elements/in-page-links.html' %}

{% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}

<div class="grant-filters">
  <form action="" method="get">
    <span>Show me</span>
    <select name="type">
      <option value="" {% if selected_grant_type.ID == NULL %} selected {% endif %}>All types</option>
      {% for grant_type in grant_types %}
        <option
            value="{{ grant_type.post_name }}" {% if selected_grant_type.ID == grant_type.ID %} selected {% endif %} >{{ grant_type.post_title }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Apply"/>
  </form>
</div>

<script>
    function updateType() {
        var url = new URL(document.location);
        var type = $(".grant-filters select[name='type']").val();
        if (type) {
            url.searchParams.set("type", type);
        } else {
            url.searchParams.delete("type");
        }
        document.location = url.toString();
    }

    $(function () {
        $(".grant-filters input[type='submit']").hide();
        $(".grant-filters select").on("change", updateType);
    });
</script>

{% embed 'layout/supporting-content.html' with {'tight': true} %}
  {% block content %}
    <div class="card-container two-max">
      {% for grant in query_result.posts %}
        {% include 'cards/entities/grant-large.html' %}
      {% endfor %}
    </div>

    {% include 'page-elements/pagination-links.html' %}

  {% endblock %}
{% endembed %}

{{ include('layout/footer.html') }}