{{ include('layout/header.html') }}

<h1>{{ title }}</h1>

{% include 'layout/link-collection.html' with {'links': nav.allPublicationTypeLinks} %}


<div class="card-container cover">
  {% include 'cards/entities/publication-large-with-image.html' with {'publication': allPublications[0]} %}
</div>

<div class="card-container two-max">
  {% include 'cards/entities/publication-large.html' with {'publication': allPublications[1]} %}
  {% include 'cards/entities/publication-large.html' with {'publication': allPublications[2]} %}
</div>

{{ include('layout/footer.html') }}