{{ include('layout/header.html') }}

<h1>{{ title }}</h1>

<hr class="row-divider"/>

<p>
  The Technical Advisory Group provides guidance on strategic decisions and the quality of the
  Fleming Fund's design. It is made up of these 14 experts in the field of AMR from a On Health
  context.
</p>

<div class="row">
  {% include 'cards/entities/person-medium-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
  {% include 'cards/entities/person-medium-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
  {% include 'cards/entities/person-medium-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
</div>

<div class="row">
  {% include 'cards/entities/person-medium-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
  {% include 'cards/entities/person-medium-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
  {% include 'cards/entities/person-medium-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
</div>

<div class="row">
  {% include 'cards/entities/person-medium-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
  {% include 'cards/entities/person-medium-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
  {% include 'cards/entities/person-medium-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
</div>

{{ include('layout/footer.html') }}