{{ include('layout/header.html') }}

<h1>{{ title }}</h1>
{% include 'page-elements/in-page-links.html' %}

{% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}

<p>{{ query_result.summary }}</p>
<div class="news-filters">
    <span>Show me</span>
    <select id="country" name="country">
        <option value="" {% if selected_country.ID == NULL %} selected {% endif %}>All countries</option>
        {% for country in countries %}
            <option value="{{ country.post_name }}" {% if selected_country.ID == country.ID %} selected {% endif %} >{{ country.post_title }}</option>
        {% endfor %}
    </select>
</div>

<script>
    function updateLocation() {
        var url = new URL(document.location);
        var country = $("#country").val();
        if (country) {
            url.searchParams.set("country", country);
        } else {
            url.searchParams.delete("country");
        }
        document.location = url.toString();
    }

    $(function() {
        $("#country").on("change", updateLocation);
    });
</script>

<div class="card-container two-max">
  {% for event in query_result.posts %}
    {% include 'cards/entities/event-medium.html' %}
  {% endfor %}
</div>

{% include 'page-elements/pagination-links.html' %}

{{ include('layout/footer.html') }}