{{ include('layout/header.html') }}

<h1>{{ title }}</h1>

{% include 'layout/link-collection.html' with {'links': nav.allRegionLinks} %}

{% if weight == 'heavy' %}
{% embed 'layout/full-width-container.html' %}
  {% block container %}
    <div id="map-element">
      {% include 'page-elements/map.html' with {
        'map_is_interactive': false
      } %}
   </div>
  {% endblock %}
{% endembed %}
{% endif %}

<div class="card-container two-max" id="region-cards">
  {% if fields.overview.value %}
    {% include 'cards/base.html' with {'card': {
      'decorated': true,
      'id': 'all',
      'title': 'Overview',
      'content': fields.overview.value
    }} %}
  {% endif %}

  {% for region in regions %}

    {% embed 'cards/base.html' with {'card': {
      'decorated': true,
      'id': region.data.post_name,
      'colour_scheme': region.data.post_name|region_slug_to_colour_scheme_name,
      'title': region.data.post_title,
      'content': true,
      'link_target': region.permalink,
      'no_link_overlay': true
    }} %}
      {% block content %}
        <div class="content-block">

          {% set fund_countries = region.countries|fund_only %}
          {% set partner_countries = region.countries|partner_only %}

          {% if fund_countries is not empty %}
            {% if partner_countries is not empty %}
            <p class="legend-label"><span class="fund-color"></span> Fleming Fund</p>
            {% endif %}
            <p class="legend-items">
              {% for country in fund_countries %}
                <a href="{{ country.permalink }}">{{ country.data.post_title }}</a>
              {% endfor %}
            </p>
          {% endif %}

          {% if partner_countries is not empty %}
            <p class="legend-label">
              <span class="partner-color">
                <svg xmlns='http://www.w3.org/2000/svg' viewbox="0 0 7 7">
                  <rect fill='#f2f2f2' x='0' y='0' width='100%' height='100%'/>
                  <rect fill='url(#subtle-hatched-{{ region.data.post_name|region_slug_to_colour_scheme_name }})' x='0'
                        y='0' width='100%' height='100%'/>
                </svg>
              </span>
              Partner
            </p>
            <p class="legend-items">
              {% for country in partner_countries %}
                <a href="{{ country.permalink }}">{{ country.data.post_title }}</a>
              {% endfor %}
            </p>
          {% endif %}

        </div>
        {% if region.overview %}
          <div class="content-block">
            <p>
              {{ region.overview }}
            </p>
          </div>
        {% endif %}
        {% if region.highlightStatistic %}
          <div class="content-block statistics card-container cover">
            {% include 'cards/entities/statistic.html' with {'statistic': region.highlightStatistic} %}
          </div>
        {% endif %}
      {% endblock %}
    {% endembed %}

  {% endfor %}

  {% if weight == 'heavy' %}
  <script type="text/javascript">
    Fleming.regionsAndCountries.init();
  </script>
  {% endif %}
</div>


{{ include('layout/footer.html') }}
