{{ include('layout/header.html') }}

<h1>{{ title }}</h1>
{% include 'page-elements/in-page-links.html' with {'clean_if_no_links': true} %}

{% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}

<div class="publications-filter">
  <span class="show-me">Show me:</span>
  <ul>
    {% include 'nav/link-item-text.html' with {'link': {
      'title': 'All',
      'target': nav.publicationsLink.target,
      'active': selected_publication_type.ID == null
    }} %}
    {% for publication_type in publication_types %}
      {% set type_url = nav.publicationsLink.target ~ '?type=' ~ publication_type.post_name %}
      {% include 'nav/link-item-text.html' with {'link': {
        'title': publication_type.post_title,
        'target': type_url,
        'active': selected_publication_type.ID == publication_type.ID
      }} %}
    {% endfor %}
  </ul>
</div>

{% embed 'layout/supporting-content.html' with {'tight': true} %}
  {% block content %}

    <div class="card-container two-max">
      {% for publication in query_result.posts %}
        {% include 'cards/entities/publication-large.html' %}
      {% endfor %}
    </div>

    {% include 'page-elements/pagination-links.html' %}

  {% endblock %}
{% endembed %}

{{ include('layout/footer.html') }}