{{ include('layout/header.html') }}

<h1>About the Fleming Fund</h1>
<ul class="large-links">
  <li>Overview</li>
  <li>AMR Overview</li>
  <li>Grant Types</li>
  <li>Technical Advisory Group</li>
</ul>

<hr class="row-divider"/>

<div>
  <p>The Fleming Fund is a UK Government aid programme to help low and middle income countries
    address priorities in tackling Antimicrobial Resistance (AMR) through a diverse range of projects.</p>
  <p class="supporting">The aim of the Fleming Fund is to support countries in collecting relevant high-quality data
    that is shared nationally and globally.
    This will enable us collectively to better understand the scale and scope of the problem in order to effectively
    tackle the issue.</p>
</div>

<div>
  <h4>What will the Fleming Fund focus on?</h4>
  <ul class="supporting" style="list-style-type: disc">
    <li>Supporting the development of National Action Plans for AMR</li>
    <li>Developing and supporting the implementation of protocols and guidance for AMR surveillance and antimicrobial
      use.
    </li>
    <li>Building laboratory capacity for diagnosis.</li>
    <li>Collecting drug resistance data.</li>
    <li>Enabling the sharing of drug resistance data locally, regionally and internationally.</li>
    <li>Collating and analysing data on the sale and use of antimicrobial medicines.</li>
    <li>Advocating for the application of data to promote the rational use of antimicrobials.</li>
    <li>Shaping a sustainable system for AMR survieillance and data sharing.</li>
    <li>Supporting fellowships to provide strong national leadership in addressing AMR.</li>
  </ul>
</div>

<div>
  <h3>Core Principles</h3>
  <div class="row">
    <div class="three columns card">
      <h3 class="infocardTitle">One Health</h3>
      <p class="supporting">Taking a One Health approach to funding encompassing public health, animal health and
        agriculture, and the environment.</p>
    </div>
    <div class="three columns card">
      <h3 class="infocardTitle">Country Ownership</h3>
      <p class="supporting">Implementing the National Action Plans which the country has developed (usually though an
        AMR Coordination Committee).</p>
    </div>
    <div class="three columns card">
      <h3 class="infocardTitle">Alignment of Approach</h3>
      <p class="supporting">Funding is aligned with what other donors are funding and conforms with broader global
        initiatives, for example GLASS and the
        Global Action Plan on Antimicrobial Resistance.</p>
    </div>
    <div class="three columns card">
      <h3 class="infocardTitle">Sustainability</h3>
      <p class="supporting">Ensuring that sustainable systems are a critical part of the funding decisions taken.</p>
    </div>
  </div>
</div>

<hr class="row-divider"/>

<div>
  <h2>AMR Overview</h2>
  <p>Antimicrobial resistance (AMR) occurs when microorganisms such as bacteria, viruses, fungi and parasites change in
    ways that make treatments ineffective.
    AMR is a major concern because drug-resistant infections can kill, spread to others, and impose huge costs on
    individuals and society.</p>
</div>
<div class="row statistics">
  <div class="three columns">
    <p style="font-size: 48px; font-weight: bold; width: 100%; text-align: center">700</p>
    <p class="supporting" style="width: 100%; text-align: center">Thousand People</p>
  </div>
  <div class="three columns">
    <p style="font-size: 48px; font-weight: bold; width: 100%; text-align: center">100</p>
    <p class="supporting" style="width: 100%; text-align: center">Trillion US Dollars</p>
  </div>
  <div class="three columns">
    <p style="font-size: 48px; font-weight: bold; width: 100%; text-align: center">10</p>
    <p class="supporting" style="width: 100%; text-align: center">Million People</p>
  </div>
  <div class="three columns">
    <p style="font-size: 48px; font-weight: bold; width: 100%; text-align: center">10</p>
    <p class="supporting" style="width: 100%; text-align: center">Point Plan</p>
  </div>
</div>

<div class="row">
  <div class="three columns card">
    <p>Info graphic</p>
  </div>
  <div class="three columns card">
    <p>Info graphic</p>
  </div>
  <div class="three columns card">
    <p>Info graphic</p>
  </div>
  <div class="three columns card">
    <p>Info graphic</p>
  </div>
</div>

<div class="row">
  <div class="three columns">
    <h4>Why AMR is a threat</h4>
    <p class="supporting">Almost 700,000 people worldwide die annually from drug-resistant infections. Without effective
      antimicrobial treatments,
      infections that have been treatable for decades could, once again, cause widespread death and suffering.</p>
  </div>
  <div class="three columns">
    <h4>Why AMR is a threat</h4>
    <p class="supporting">Almost 700,000 people worldwide die annually from drug-resistant infections. Without effective
      antimicrobial treatments,
      infections that have been treatable for decades could, once again, cause widespread death and suffering.</p>
  </div>
  <div class="three columns">
    <h4>Why AMR is a threat</h4>
    <p class="supporting">Almost 700,000 people worldwide die annually from drug-resistant infections. Without effective
      antimicrobial treatments,
      infections that have been treatable for decades could, once again, cause widespread death and suffering.</p>
  </div>
  <div class="three columns">
    <h4>Why AMR is a threat</h4>
    <p class="supporting">Almost 700,000 people worldwide die annually from drug-resistant infections. Without effective
      antimicrobial treatments,
      infections that have been treatable for decades could, once again, cause widespread death and suffering.</p>
  </div>
</div>

<button class="button-dark" style="margin-left: auto; margin-right: auto; display: block;">View WHO AMR Guide</button>

<hr class="row-divider"/>

<div class="row">
  {% include 'cards/medium.html' with {'card': {
    'title': 'Country Grants',
    'content': 'To improve the collection and use of AMR data, including antimicrobial use, in target countries using a One Health approach.',
    'link_target': '/country-grants/'
  }} %}
  {% include 'cards/medium.html' with {'card': {
    'title': 'Regional Grants',
    'content': 'To provide long-term mentorship and career enhancement for 4-8 fellows per country.',
    'link_target': '/regional-grants/'
  }} %}
  {% include 'cards/medium.html' with {'card': {
    'title': 'Fellowships',
    'content': 'To support regional One Health approaches to improved surveillance of AMR.',
    'link_target': '/fellowships/'
  }} %}
</div>

<hr class="row-divider"/>

<h3>Technical Advisory Group</h3>
<div class="row">
  {% include 'cards/entities/person-large-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    },
    'quote': 'I like fish, give me more fish, give now, now, give fish now, no not dry the wet fish give now.',
    'cta_override': {
      'title': 'See full Technical Advisory Group',
      'target': '/technical-advisory-group/'
    }
  } %}
</div>

{{ include('layout/useful-links.html') }}

{{ include('layout/footer.html') }}