.expandable {
    cursor: pointer;
  }
  
  .expContent {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  
  .downArrow {
    float: right;
  }