
#map-element {
  height: 200px;
  height: 30vh;
  display: none;

  g {
    transition: transform 0.5s ease-in-out;
  }

  .map-container {
    height: 100%;
    box-sizing: border-box;
    max-height: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  #map-element {
    g {
      transition: none;
    }
  }
}

#region-cards {
  .card {
    background: #fff;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    margin-bottom: 40px;

    .header {
      padding-bottom: 0;

      h3 a {
        color: $dark-grey;
      }
    }

    .content-block {
      width: 100%;
      padding-top: 1em;
      margin-top: 1em;

      &:first-of-type {
        margin-top: 0;
      }
    }

    p {
      margin: 0;
    }

    .legend-label {
      margin-bottom: 0.5em;
    }

    .legend-items {
      margin-bottom: 2em;
      letter-spacing: 0.3ex;

      &:last-of-type {
        margin-bottom: 0.5em;
      }

      a {
        letter-spacing: initial;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .fund-color, .partner-color {
      display: inline-block;
      width: $hit-box-height;
      height: $hit-box-height;
      vertical-align: middle;
      margin-right: 0.5ex;
    }

    @each $configName, $colourConfig in $colourConfigs {
      &.#{$configName} {
        .content-block {
          border-top: 1px solid map_get($colourConfig, intense);
        }

        .fund-color {
          background: map_get($colourConfig, intense);
        }

        .partner-color {
          background: map_get($colourConfig, subtle);
        }

        a, .legend-items {
          color: map_get($colourConfig, intense);
        }

        h3 a:hover {
          color: map_get($colourConfig, subtle);
        }
      }
    }
  }
}

@media (#{$max-width-tablet}) {
  #map-element {
    position: relative !important;
    height: 200px !important;
    height: 30vh !important;
  }
}

@media (#{$min-width-tablet}) {
  #region-cards {
    padding-bottom: 200px;
    padding-bottom: 25vh;
    margin-top: 100px;
    margin-top: 20vh;

    .card {
      min-height: 33vh;
      transition: opacity 0.2s linear;

      &.inactive {
        opacity: 0.4;
      }
    }
  }

  #map-element {
    width: 100%;
    height: 400px;
    height: 100vh;
    position: relative;


    &.top {
      position: absolute;
      top: 0;
      left: 0;
      bottom: auto;
    }
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
    }
    &.bottom {
      position: absolute;
      top: auto;
      left: 0;
      bottom: 0;
    }
  }
}

#region-cards .statistics .card {
  margin: 0;
  padding: 0;
  box-shadow: none;
  min-height: 0;
  text-align: left;
}