{{ include('layout/header.html') }}

<h1>{{ title }}</h1>
{% include 'page-elements/in-page-links.html' %}

{% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}

<div class="news-filters">
  <form action="" method="get">
    <span>Show me</span>
    <select name="country">
      <option value="" {% if selected_country.ID == NULL %} selected {% endif %}>All countries</option>
      {% for country in countries %}
        <option
            value="{{ country.post_name }}" {% if selected_country.ID == country.ID %} selected {% endif %} >{{ country.post_title }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Apply"/>
  </form>
</div>

<script>
    function updateLocation() {
        var url = new URL(document.location);
        var country = $(".news-filters select[name='country']").val();
        if (country) {
            url.searchParams.set("country", country);
        } else {
            url.searchParams.delete("country");
        }
        document.location = url.toString();
    }

    $(function () {
        $(".news-filters input[type='submit']").hide();
        $(".news-filters select").on("change", updateLocation);
    });
</script>

{% embed 'layout/supporting-content.html' with {'tight': true} %}
  {% block content %}
    <div class="card-container two-max">
      {% for event in query_result.posts %}
        {% include 'cards/entities/event.html' %}
      {% endfor %}
    </div>

    {% include 'page-elements/pagination-links.html' %}
  {% endblock %}
{% endembed %}

{{ include('layout/footer.html') }}