{{ include('layout/header.html') }}

<div class="row" style="margin-top: 3em; margin-bottom: 3em">
  <h1>Technical Advisory Group</h1>
</div>

<hr class="row-divider"/>

<div class="row">
  {% include 'cards/entities/person-small-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
  {% include 'cards/entities/person-small-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
  {% include 'cards/entities/person-small-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
  {% include 'cards/entities/person-small-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
</div>

<div class="row">
  {% include 'cards/entities/person-small-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
  {% include 'cards/entities/person-small-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
  {% include 'cards/entities/person-small-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
  {% include 'cards/entities/person-small-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
</div>

<div class="row">
  {% include 'cards/entities/person-small-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
  {% include 'cards/entities/person-small-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
  {% include 'cards/entities/person-small-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
  {% include 'cards/entities/person-small-with-image.html' with {
    'person': {
      'data': {
        'post_title': 'Person\'s Name'
      },
      'fields': {
        'details': {
          'value': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu massa ut mi ullamcorper
        pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        }
      }
    }
  } %}
</div>

{{ include('layout/footer.html') }}