{{ include('layout/header.html') }}

<h1>{{ title }}</h1>
{% include 'page-elements/in-page-links.html' with {'clean_if_no_links': true} %}

{% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}

{% include 'page-elements/list-query-result.html' %}
{% include 'page-elements/pagination-links.html' with {'ajax': true} %}

{% if fields.supporting_content.value is not empty %}
{% embed 'layout/supporting-content.html' %}
  {% block content %}

    {% include 'flexible_content.twig' with { 'flexible_content': fields.supporting_content.value } %}

  {% endblock %}
{% endembed %}
{% endif %}

{{ include('layout/footer.html') }}