{{ include('layout/header.html') }}

<h1>{{ title }}</h1>

<div class="row">
  <div class="nine columns">
    {% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}
  </div>
  <div class="three columns">
    <hr class="row-border"/>
    <div><strong>Author:</strong> {{ fields.authors.value }}</div><br/>
    <div><strong>Date:</strong> {{ fields.publication_date.value }}</div><br/>
    <div><strong>Type:</strong> {{ fields.type.value.post_title }}</div><br/>
    <div><strong>Region:</strong> {{ fields.country_region.value }}</div><br/>
    <hr class="row-border"/>
  </div>
</div>

{% if fields.document.value and fields.type.value.post_title != 'news' %}
  <hr class="row-divider"/>
  <h4>The full {{ fields.document.value.page_count }} page document is available here</h4>
  <button class="button-dark" onClick={{ 'window.open("' ~ fields.document.value.file.url ~ '")' }}>View PDF</button>
{% endif %}

{% embed 'layout/supporting-content.html' %}
  {% block content %}

    <h3 class="row-title">More Like This</h3>
    <div class="card-container two-max">
      {% include 'cards/entities/publication-large.html' with {'publication': more_like_this[0]} %}
      {% include 'cards/entities/publication-large.html' with {'publication': more_like_this[1]} %}
    </div>

  {% endblock %}
{% endembed %}

{{ include('layout/footer.html') }}