{{ include('layout/header.html') }}

<h1>{{ title }}</h1>

<hr class="row-underline" />

<div class="row">
  <div class="nine columns">
    {% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}
  </div>
  <div class="three columns">
    {% include 'page-elements/contact-details.html' %}
  </div>
</div>

{% if fields.role.value == 'fellow' %}
<hr class="row-separator" />
<h3 class="row-title">Fellow Projects</h3>
<div class="row">
  {% include 'cards/entities/project-large.html' with {'project': fields.projects.value[0]} %}
  {% include 'cards/entities/project-large.html' with {'project': fields.projects.value[1]} %}
</div>

<hr class="row-separator" />
<h3 class="row-title">Current Fellows</h3>
<div class="row">
  {% for fellow in fellows %}
  {% include 'cards/entities/person-medium-with-image.html' with {
    'person': fellow
  } %}
  {% endfor %}
  
</div>
{% endif %}

{{ include('layout/footer.html') }}