{{ include('layout/header.html') }}

<h1>{{ title }}</h1>

{% include 'layout/map.html' %}

<div class="row">
  <ul class="large-links">
    {% include '1-atoms/link-items-text.html' with {'links': fundCountryLinks} %}
  </ul>
</div>
<div class="row">
  <ul class="large-links">
    {% include '1-atoms/link-items-text.html' with {'links': partnerCountryLinks} %}
  </ul>
</div>

<hr class="row-underline"/>

<div class="row">
  <div class="nine columns">
    {% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}
  </div>
  <div class="three columns people card-container cover">
    {% include 'cards/entities/person-small-with-image.html' with {
      'person': fields.coordinator.value,
      'supertitle': 'Regional Coordinator',
      'cta_override': {
        'title': 'Contact Now',
        'target': 'mailto:' ~ fields.coordinator.value.fields.email.value
      }
    } %}
  </div>
</div>

<hr class="row-separator"/>

{# Replicate flexible content model #}
{% include '1-atoms/statistics.html' with {'content_block': {'values': [
  {
    'value': fields.statistics.value.projects_completed,
    'text': 'Projects Completed'
  },
  {
    'value': fields.statistics.value.projects_in_progress,
    'text': 'Projects in Progress'
  },
  {
    'value': '£'~fields.statistics.value.funds_provided,
    'text': 'Funds Provided'
  },
]}} %}

{% embed 'layout/supporting-content.html' %}
  {% block content %}

    {% if fields.case_study.value %}
      <h3>Featured Case Study</h3>
      <div class="card-container cover">
        {% include 'cards/entities/publication-large-with-image.html' with {'publication': fields.case_study.value} %}
      </div>
    {% endif %}

  {% endblock %}
{% endembed %}

{{ include('layout/footer.html') }}
