{{ include('layout/header.html') }}

<div class="row">
  <h1 style="float: left; width: 50%">{{ title }}</h1>
  <button style="float: right" onClick={{ 'window.open("https://www.example.com")' }}>Subscribe for {{ title }} updates</button>
</div>
{% include 'page-elements/in-page-links.html' %}
<div class="country-timeline">
  {% include 'page-elements/status-box.html' with {
    'level': 1,
    'current_status': fields.grant_status.value,
    'date': 'Start',
    'status': 'Approach to Country'
  } %}
  {% include 'page-elements/status-box.html' with {
    'level': 2,
    'current_status': fields.grant_status.value,
    'date': '1-2 months',
    'status': 'Scoping Visit'
  } %}
  {% include 'page-elements/status-box.html' with {
    'level': 3,
    'current_status': fields.grant_status.value,
    'date': '3-8 months',
    'status': 'Positioning Activities'
  } %}
  {% include 'page-elements/status-box.html' with {
    'level': 4,
    'current_status': fields.grant_status.value,
    'date': '9+ months',
    'status': 'Grant-making',
    'last': true
  } %}
</div>

<hr class="row-divider"/>
<div class="row">
  <div class="nine columns">
    {% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}
  </div>
  <div class="three columns">
    <div class="card-container cover">
    {% if fields.nap_doc.value %}
    <div class="card base">
      <div class="content">
        <p>{{title}}'s National Action Plan is available here</p>
        <button class="button" onClick={{ 'window.open("' ~ fields.nap_doc.value.url ~ '")' }}>Download &darr;</button>
      </div>
    </div>
    {% endif %}
    </div>
    <div class="people card-container cover">
    {% include 'cards/entities/person-medium-with-image.html' with {
      'person': coordinator,
      'supertitle': 'Regional Coordinator',
      'cta_override': {
        'title': 'Contact Now',
        'target': 'mailto:' ~ coordinator.fields.email.value
      }
    } %}
  </div>
</div>
</div>

 {#Replicate flexible content model #}
  {% include 'page-elements/statistics.html' with {'statistics': [
    {
      'value': fields.statistics.value.projects_completed,
      'text': 'Projects Completed'
    },
    {
      'value': fields.statistics.value.projects_in_progress,
      'text': 'Projects in Progress'
    },
    {
      'value': fields.statistics.value.funds_provided ? '£'~fields.statistics.value.funds_provided|format_number,
      'text': 'Funds Provided'
    },
  ]} %}
 {#Replicate flexible content model #}
{% include 'page-elements/statistics.html' with {'statistics': mapped_statistics} %}

{% embed 'layout/supporting-content.html' %}
  {% block content %}

    {% if fields.case_study.value %}
      <h3>Feature Case Study</h3>
      <div class="card-container cover">
        {% include 'cards/entities/publication-large-with-image.html' with {'publication': fields.case_study.value} %}
      </div>
    {% endif %}

    {% if opportunities is not empty %}
      <h3>Current and Upcoming Opportunities</h3>
      <div class="card-container two-max">
        {% for grant in opportunities %}
          {% include 'cards/entities/grant-large.html' with {'grant': grant} %}
        {% endfor %}
      </div>
    {% endif %}

    {% if projects is not empty %}
      <h3>Current Projects</h3>
      <div class="card-container two-max">
        {% for project in projects %}
          {% include 'cards/entities/project-large.html' with {'project': project} %}
        {% endfor %}
      </div>
    {% endif %}

  {% endblock %}
{% endembed %}

{{ include('layout/footer.html') }}
