{{ include('layout/header.html') }}

<h1>{{ title }}</h1>

{% if fields.application_steps.value %}
  {% include 'layout/link-collection.html' with {'links': (in_page_links??[])|merge([
    {
      'title': 'Application Process',
      'target': '#application-process'
    },
  ])} %}
{% else %}
  {% include 'layout/link-collection.html' with {'links': (in_page_links??[])} %}
{% endif %}

{% if fields.dates.value is not empty %}
<div class="country-timeline">
  {% for date in fields.dates.value %}
    {% include 'page-elements/status-box.html' with {
      'level': 0,
      'current_status': 0,
      'status': date.event_name,
      'date': date.date,
      'last': loop.last
    } %}
  {% endfor %}
</div>
{% endif %}

<aside>
  {% if fields.rfp_doc.value %}
    <a href={{fields.rfp_doc.value.url}}>
      <button class="button-dark" style="width: 100%"}}>Download RFP</button>
    </a>
  {% else %}
    <button class="button-dark" style="width: 100%" disabled="disabled"}}>
      RFP not available
    </button>
  {% endif %}
</aside>

<div class="flexible-container-with-sidebar">
  {% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}
</div>

<hr class="row-separator"/>

{% if fields.application_steps.value %}
<h3 class="row-title" id="application-process">Application Process</h3>
{% include 'flexible-content/application_steps.html' with {
       'content_block': { 'steps' : fields.application_steps.value }
   } %}
{% endif %}

{% embed 'layout/supporting-content.html' %}
  {% block content %}

    {% include 'flexible_content.twig' with { 'flexible_content': fields.supporting_content.value } %}

    <h3>Similar Proposals</h3>
    <div class="card-container two-max">
      {% include 'cards/entities/grant.html' with {'grant': similar_proposals[0]} %}
      {% include 'cards/entities/grant.html' with {'grant': similar_proposals[1]} %}
    </div>

  {% endblock %}
{% endembed %}

{{ include('layout/footer.html') }}