{{ include('layout/header.html') }}

<h1>{{ title }}</h1>
{% include 'page-elements/in-page-links.html' %}

<aside>
  <img src="{{ (weight == 'light' ? picture_small_url : picture_medium_url) }}" class="profile-image"/>
  {% include 'page-elements/contact-details.html' %}
</aside>

{% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}

{% if fields.role.value == 'fellow' %}
  <hr class="row-separator"/>
  <h3 class="row-title">Fellow Projects</h3>
  <div class="card-container two-max">
    {% include 'cards/entities/project-large.html' with {'project': fields.projects.value[0]} %}
    {% include 'cards/entities/project-large.html' with {'project': fields.projects.value[1]} %}
  </div>

  <hr class="row-separator"/>
  <h3 class="row-title">Current Fellows</h3>
  <div class="card-container people three-max">
    {% for person in fellows %}
      {% include 'cards/entities/person-medium-with-image.html' %}
    {% endfor %}

  </div>
{% endif %}

{{ include('layout/footer.html') }}