.region-countries-legend {
  position: relative;

  .link-collection {
    border: none;
    margin: 0;
  }

  p {
    margin: 0;
  }

  .legend {
    border-right: 1em solid transparent;
    white-space: nowrap;
  }

  $fractionOfColorWidthAsPadding: 0.25;

  .links {
    padding-left: ((1 + $fractionOfColorWidthAsPadding) * $hit-box-height);
  }

  .color {
    display: inline-block;
    width: $hit-box-height;
    height: $hit-box-height;
    margin-right: ($fractionOfColorWidthAsPadding * $hit-box-height);
    vertical-align: middle;
  }
}

@media (#{$min-width-tablet}) {
  .region-countries-legend {
    .fund-countries, .partner-countries {
      display: table-row;
    }

    .legend, .links {
      display: table-cell;
    }

    .links {
      padding-left: 0;
    }
  }
}

@each $configName, $colourConfig in $colourConfigs {
  &.#{$configName} {
    .region-countries-legend {
      .fund-countries {
        .color {
          background: map_get($colourConfig, intense);
        }
      }

      .partner-countries {
        .color {
          background: map_get($colourConfig, subtle);
        }
      }
    }
  }
}