{{ include('layout/header.html') }}

<div class="row">
  <div class="eight columns">
    <h1>{{ title }}</h1>
  </div>
  <div class="four columns subscribe-for-updates">
    <a class="button" href="{{ rss_link_target }}" target="_blank">
      Subscribe for {{ title }} updates
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 0 33 33">
        <circle cx="3.5" cy="28.5" r="4"/>
        <path d="M 12 28 H 16 A 12 12 0 0 0 4 16 V 20 A 8  8  0 0 1 12 28"/>
        <path d="M 20 28 H 24 A 20 20 0 0 0 4 8  V 12 A 16 16 0 0 1 20 28"/>
        <path d="M 28 28 H 32 A 28 28 0 0 0 4 0  V 4  A 24 24 0 0 1 28 28"/>
      </svg>
    </a>
  </div>
</div>

{% include 'page-elements/in-page-links.html' %}

{% embed 'layout/full-width-container.html' %}
  {% block container %}
    {% include 'page-elements/map.html' with {
      'map_is_interactive': true
    } %}
  {% endblock %}
{% endembed %}

{% if fundCountryLinks is not empty or partnerCountryLinks is not empty %}
  <div class="region-countries-legend">
    {% if fundCountryLinks is not empty %}
      <div class="fund-countries">
        <div class="legend">
          <p class="label"><span class="color"></span>Fleming Fund</p>
        </div>
        <div class="links">
          {% include 'layout/link-collection.html' with {'links': fundCountryLinks} %}
        </div>
      </div>
    {% endif %}
    {% if partnerCountryLinks is not empty %}
      <div class="partner-countries">
        <div class="legend">
          <p class="label">
          <span class="color">
                <svg xmlns='http://www.w3.org/2000/svg' viewbox="0 0 7 7">
                  <rect fill='#f2f2f2' x='0' y='0' width='100%' height='100%'/>
                  <rect fill='url(#subtle-hatched-{{ colour_scheme }})' x='0'
                        y='0' width='100%' height='100%'/>
                </svg>
          </span>Partner
          </p>
        </div>
        <div class="links">
          {% include 'layout/link-collection.html' with {'links': partnerCountryLinks} %}
        </div>
      </div>
    {% endif %}
  </div>
  <hr class="row-border"/>
{% endif %}

<aside class="people card-container cover">
  {% include 'cards/entities/person-with-image.html' with {
    'person': fields.coordinator.value,
    'supertitle': 'Regional Coordinator',
    'cta_override': {
      'title': 'Contact Now',
      'target': 'mailto:' ~ fields.coordinator.value.fields.email.value
    }
  } %}
</aside>

{% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}

{% if fields.supporting_content.value is not empty or fields.case_study.value %}
{% embed 'layout/supporting-content.html' %}
  {% block content %}

  {% include 'flexible_content.twig' with { 'flexible_content': fields.supporting_content.value } %}

    {% if fields.case_study.value %}
      <h3>Featured Case Study</h3>
      <div class="card-container cover">
        {% include 'cards/entities/publication-with-image.html' with {'publication': fields.case_study.value} %}
      </div>
    {% endif %}

  {% endblock %}
{% endembed %}
{% endif %}

{{ include('layout/footer.html') }}
