{{ include('layout/header.html') }}

<h1>{{ title }}</h1>

<div class="row">
  <div class="nine columns">
    {% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}
  </div>
  <div class="three columns">
    <hr class="row-border"/>
    <h3 class="turquoise">{{ fields.date.value }}</h3><br/>
    <h3 class="turquoise">{{ fields.time.value.time }} (UCT + {{ fields.time.value.timezone }})</h3><br/>
    <div><strong>Location:</strong> {{ fields.location.value }}</div><br/>
    <div><strong>Country:</strong> {{ fields.country.value.post_title }}</div><br/>
    <hr class="row-border"/>
  </div>
</div>

<h3 class="row-title">More Like This</h3>
<div class="row">
  {% include 'cards/entities/event-medium.html' with {'event': similar_events[0]} %}
  {% include 'cards/entities/event-medium.html' with {'event': similar_events[1]} %}
</div>

{{ include('layout/footer.html') }}