{{ include('layout/header.html') }}

<h1>{{ title }}</h1>

{% include 'page-elements/in-page-links.html' %}

{% if fields.dates.value is not empty %}
<div class="country-timeline">
  {% for date in fields.dates.value %}
    {% include 'page-elements/status-box.html' with {
      'level': loop.index,
      'current_status': timeline_level,
      'status': date.event_name,
      'date': date.date,
      'last': loop.last
    } %}
  {% endfor %}
</div>
{% endif %}

{% if not fields.rfp_not_applicable %}
  <aside>
    {% if fields.rfp_doc.value %}
      <a href={{ fields.rfp_doc.value.url }}>
        <button class="button" style="width: 100%; height: auto; box-sizing: border-box;">Download RFP</button>
      </a>
    {% else %}
      <button class="button" style="width: 100%; height: auto; box-sizing: border-box;" disabled="disabled">
        RFP not available
      </button>
    {% endif %}
  </aside>
{% endif %}

<div class="flexible-container-with-sidebar">
  {% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}

  {% if have_eligibility %}
  <hr class="row-separator"/>
  <h2 class="row-title" id="eligibility">Eligibility Criteria</h2>
  <div class="row">
    <div class="nine columns">
      {% include 'flexible-content/text_block.html' with {'content_block': fields.criteria.value} %}
    </div>
  </div>
  {% for criterion in fields.criteria.value.criteria %}
  <div class="row">
    <div class="one column">
      <svg viewBox="0 0 40 45" style="max-height: 3em">
        <circle cx="20" cy="25" r="15" stroke="lightgrey" stroke-width="0" fill="lightgrey" />
      </svg>
    </div>
    <div class="eight columns">
      {% include 'flexible-content/supporting_text_block.html' with {'content_block': criterion} %}
    </div>
  </div>
  {% endfor %}
  {% endif %}

  {% if have_application_steps %}
  <hr class="row-separator"/>
  <h2 class="row-title" id="how-to-apply">How to apply</h2>
  {% include 'flexible-content/application_steps.html' with {
    'content_block': { 'steps' : fields.application_steps.value }
  } %}
  {% endif %}
</div>

{% embed 'layout/supporting-content.html' %}
  {% block content %}

    {% include 'flexible_content.twig' with { 'flexible_content': fields.supporting_content.value } %}

    <h3>Other grants</h3>
    <div class="card-container two-max">
      {% include 'cards/entities/grant.html' with {'grant': similar_proposals[0]} %}
      {% include 'cards/entities/grant.html' with {'grant': similar_proposals[1]} %}
    </div>

  {% endblock %}
{% endembed %}

{{ include('layout/footer.html') }}