{{ include('layout/header.html') }}

<h1>{{ title }}</h1>

<div class="row">
  <div class="nine columns">
    {% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}
  </div>
  <div>
    <hr class="row-divider"/>
    <p class="supporting"><strong>Date:</strong> {{ fields.publication_date.value }}</p>
    <hr class="row-divider"/>
  </div>
</div>

{% if fields.document.value %}
<hr class="row-divider"/>
<h4>The full {{ fields.document.value.page_count }} page document is available here</h4>
<button class="button-dark" onClick={{ 'window.open("' ~ fields.document.value.file.url ~ '")' }}>View PDF</button>
{% endif %}

<div>[more like this]</div>

{{ include('layout/footer.html') }}