{{ include('layout/header.html') }}

<h1>{{ title }}</h1>

<hr class="row-underline" />

<div class="row">
  <div class="nine columns">
    {% for content_block in fields.details.value %}
        
      {% if content_block.acf_fc_layout == 'header_paragraph' %}
        {% include '1-atoms/text-block.html' %}
  
      {% elseif content_block.acf_fc_layout == 'supporting_paragraph' %}
        {% include '1-atoms/supporting-text-block.html' %}
  
      {% endif %}
    
    {% endfor %}
  </div>
  <div class="three columns">
    {% include '1-atoms/contact-details.html' %}
  </div>
</div>

{% if fields.role.value == 'fellow' %}
<hr class="row-separator" />
<h3 class="row-title">Fellow Projects</h3>
<div class="row">
  {% include 'cards/entities/project-large.html' with {'project': fields.projects.value[0]} %}
  {% include 'cards/entities/project-large.html' with {'project': fields.projects.value[1]} %}
</div>

<hr class="row-separator" />
<h3 class="row-title">Current Fellows</h3>
<div class="row">
  {% for fellow in fellows %}
  {% include 'cards/entities/person-medium-with-image.html' with {
    'person': fellow
  } %}
  {% endfor %}
  
</div>
{% endif %}

{{ include('layout/footer.html') }}