{{ include('layout/header.html') }}

<h1>{{ title }}</h1>

{% include 'layout/link-collection.html' with {'links': [
  {
    'title': 'Overview',
    'target': '#'
  },
  {
    'title': 'Eligibility Criteria',
    'target': '#'
  },
  {
    'title': 'Application Process',
    'target': '#'
  },
]} %}

<div class="row">
  <p>Applications Open: {{ fields.open.value }}</p>
</div>
<div class="row">
  <p>RFP Publication Date: {{ fields.rfp_publication_date.value }}</p>
</div>
<div class="row">
  <p>Deadline: {{ fields.deadline.value }}</p>
</div>
<div>
  <h4>Other Important Dates:</h4>
  {% for date in fields.other_important_dates.value %}
    <p>{{date.key_event_name}}: {{date.date}}</p>
  {% endfor %}
</div>

<hr class="row-separator" />

<div class="row">
  <div class="nine columns">
      {% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}
  </div>
  <div class="three columns">
    <button class="button-dark" style="width: 100%" onClick={{ 'window.open("' ~ fields.rfp_doc.value.url ~ '")' }}>Download RFP</button>
    <p>Please note the key dates for RFP, including the need to register interest by 12th June 2018.</p>
  </div>
</div>

<hr class="row-separator" />

<h3 class="row-title">Eligibility Criteria</h3>
<div class="row">
  <div class="nine columns">
      {% include 'flexible-content/text_block.html' with {'content_block': fields.criteria.value} %}
  </div>
</div>
{% for criterion in fields.criteria.value.criteria %}
<div class="row">
  <div class="one column">
    <h2>&#9654</h2>
  </div>
  <div class="eight columns">
      {% include 'flexible-content/supporting_text_block.html' with {'content_block': criterion} %}
  </div>
</div>
{% endfor %}

<hr class="row-separator" />

<h3 class="row-title">Application Process</h3>
{% include 'page-elements/application-steps.html' %}

<hr class="row-separator" />

<h3 class="row-title">Similar Proposals</h3>
<div class="card-container two-max">
  {% include 'cards/entities/grant-large.html' with {'grant': similar_proposals[0]} %}
  {% include 'cards/entities/grant-large.html' with {'grant': similar_proposals[1]} %}
</div>

{{ include('layout/footer.html') }}