{{ include('layout/header.html') }}

<h1>{{ title }}</h1>

<hr class="row-divider"/>
<div class="row">
  <div class="nine columns">
    {% include 'flexible_content.twig' with { 'flexible_content': fields.flexible_content.value } %}
  </div>
  <div class="three columns people card-container small">
    {% include 'cards/entities/person-small-with-image.html' with {
      'person': coordinator,
      'supertitle': 'Regional Coordinator',
      'cta_override': {
        'title': 'Contact Now',
        'target': 'mailto:' ~ coordinator.fields.email.value
      }
    } %}
  </div>
</div>

{# Replicate flexible content model #}
{% include '1-atoms/statistics.html' with {'content_block': {'values': [
  {
    'value': fields.statistics.value.projects_completed,
    'text': 'Projects Completed'
  },
  {
    'value': fields.statistics.value.projects_in_progress,
    'text': 'Projects in Progress'
  },
  {
    'value': '£'~fields.statistics.value.funds_provided,
    'text': 'Funds Provided'
  },
]}} %}

{% embed 'layout/supporting-content.html' %}
  {% block content %}



  {% endblock %}
{% endembed %}

{{ include('layout/footer.html') }}
