node_modules/
dist/
.wordpress-download-cache/
.credentials/
.temp/
.idea/
deployments/

# SSL cert
src/wordpress/.ebextensions/https-instance.config
src/wordpress/.ebextensions/https-single-instance.config

# Paid for plugins
dependencies/plugins/
