{% if card %}
  {% set card_class = 'card '~(card.colour_scheme ?? 'base') %}
  {% if card.decorated %}
    {% set card_class = card_class~' decorated' %}
  {% endif %}
  {% if card.inverted_header %}
    {% set card_class = card_class~' inverted-header' %}
  {% endif %}

  <div class="{{ card_class }}" id="{{ card.id }}">

    {% if card.top_html or card.identifier or card.title or card.overview %}
      <div class="header">

        {{ card.top_html|raw }}

        {% if card.identifier %}
          <p class="identifier">{{ card.identifier }}</p>
        {% endif %}

        {% if card.title %}
          <{{ card.title_is_paragraph ? 'p' : 'h3' }}>
            {% if card.link_target %}
              <a href="{{ card.link_target }}">{{ card.title }}</a>
            {% else %}
              {{ card.title }}
            {% endif %}
          </{{ card.title_is_paragraph ? 'p' : 'h3' }}>
        {% endif %}

        {% if card.overview %}
          <p>{{ card.overview|nl2br }}</p>
        {% endif %}

      </div>
    {% endif %}
    {% if card.content or cta_override %}
      <div class="content">

        {% block content %}

          <p>{{ card.content }}</p>
          {% if cta_override %}
            <a class="button {{ card.cta_not_hollow ?? 'hollow' }}" href="{{ cta_override.target }}">{{ cta_override.title }}</a>
          {% elseif card.link_target %}
            {% if card.cta_title %}
              <a class="button {{ card.cta_not_hollow ?? 'hollow' }}" href="{{ card.link_target }}">{{ card.cta_title }}</a>
            {% endif %}
          {% endif %}

        {% endblock %}

      </div>
    {% endif %}

    {% if card.link_target and not cta_override and not card.no_link_overlay %}
      {% include 'cards/common/link-overlay.html' %}
    {% endif %}
  </div>
{% endif %}