{% if card %}
  <div class="six columns card">

    {% if card.identifier %}
      <p class="identifier">{{ card.identifier }}</p>
    {% endif %}
    <h3 class="title">{{ card.title }}</h3>
    <p class="overview">{{ card.overview|nl2br }}</p>
    <p class="description">{{ card.description }}</p>

    {% if card.cta %}
      <a class="button button-dark">{{ card.cta.title }}</a>
      {% include 'cards/common/link-overlay.html' with {'target': card.cta.target} %}
    {% endif %}

  </div>
{% endif %}