{% if card %}
  <div class="six columns card">

    {% if card.identifier %}
      <p class="identifier">{{ card.identifier }}</p>
    {% endif %}
    <h3>{{ card.title }}</h3>
    <p>{{ card.overview|nl2br }}</p>
    <p class="supporting">{{ card.content }}</p>

    {% if cta_override %}
      <a class="button button-dark" href="{{ cta_override.target }}">{{ cta_override.title }}</a>
    {% elseif card.link_target %}
      {% if card.cta_title %}
        <a class="button button-dark" href="{{ card.link_target }}">{{ card.cta_title }}</a>
      {% endif %}
      {% include 'cards/common/link-overlay.html' %}
    {% endif %}

  </div>
{% endif %}