{% if card %}
  <div class="card{{ card.decorated ? ' decorated' }}{{ card.colour_scheme ? ' '~card.colour_scheme}}{{ card.inverted_header ? ' inverted-header' }}">
    <div class="header">

      {% if card.identifier %}
        <p class="identifier">{{ card.identifier }}</p>
      {% endif %}
      <h3>
        {% if card.link_target %}
          <a href="{{ card.link_target }}">{{ card.title }}</a>
        {% else %}
          {{ card.title }}
        {% endif %}
      </h3>
      <p>{{ card.overview|nl2br }}</p>

    </div>
    <div class="content">

      <p class="supporting">{{ card.content }}</p>
      {% if cta_override %}
        <a class="button hollow" href="{{ cta_override.target }}">{{ cta_override.title }}</a>
      {% elseif card.link_target %}
        {% if card.cta_title %}
          <a class="button hollow" href="{{ card.link_target }}">{{ card.cta_title }}</a>
        {% endif %}
        {% include 'cards/common/link-overlay.html' %}
      {% endif %}

    </div>
  </div>
{% endif %}