{% if grant %}
  {# TODO pull the colour scheme from the grant's (country's) region #}
  {# TODO insert the region(s) / country(s) into the identifier #}
  {% include 'cards/base.html' with {'card': {
    'decorated': true,
    'colour_scheme': 'blue',
    'inverted_header': true,
    'identifier': grant.fields.type.value.post_title,
    'title': grant.data.post_title,
    'overview': 'Budget: £'~grant.fields.funds_available.value~'\nStatus: Implementation',
    'content': grant.fields.summary.value,
    'cta_title': 'Apply Now',
    'link_target': grant.permalink
  }} %}
{% endif %}