{% if organisation %}
  {# the logo resolution used here should match that used in the footer #}
  {% include 'cards/medium-with-image.html' with { 'card': {
    'decorated': false,
    'remove_image_for_low_bandwidth': (weight == 'light'),
    'image_src': organisation.logo_medium_url,
    'title': organisation.data.post_title,
    'content': organisation.overview,
    'link_target': organisation.fields.website_link.value,
    'cta_title': 'Find out more',
    'cta_not_hollow': true
  }} %}
{% endif %}