{% if person %}
  <div class="twelve columns">
    <div class="four columns" style="padding-top: 1.5em;">
      <img src="https://placekitten.com/g/512/512" class="large avatar"/>
    </div>
    <div class="eight columns">
      <h3>{{ person.data.post_title }}</h3>
      {% if quote %}
        <p class="solid-left-indent">&quot;{{ quote }}&quot;</p>
      {% endif %}
      <p class="supporting">{{ person.fields.details.value }}</p>
      {% if cta_override %}
        <a class="button button-dark" href="{{ cta_override.target }}">{{ cta_override.title }}</a>
      {% endif %}
    </div>
  </div>
{% endif %}