{#
    NOTE: If you are adding a post type to this list, consider also adding it to the list of post types in
    the search_filter function in functions.php
#}

{% if post.data.post_type == 'aims' %}
    {% include('cards/entities/aim.html') with { 'aim' : post } %}
{% elseif post.data.post_type == 'countries' %}
    {% include('cards/entities/country.html') with { 'country' : post } %}
{% elseif post.data.post_type == 'disciplines' %}
    {% include('cards/entities/discipline.html') with { 'discipline' : post } %}
{% elseif post.data.post_type == 'events' %}
    {% include('cards/entities/event.html') with { 'event' : post } %}
{% elseif post.data.post_type == 'grants' %}
    {% include('cards/entities/grant.html') with { 'grant' : post } %}
{% elseif post.data.post_type == 'organisations' %}
    {% include('cards/entities/organisation-with-image.html') with { 'organisation' : post } %}
{% elseif post.data.post_type == 'page' %}
  {% include('cards/entities/page.html') with { 'page' : post } %}
{% elseif post.data.post_type == 'people' %}
  {% include('cards/entities/person-with-image.html') with { 'person' : post } %}
{% elseif post.data.post_type == 'projects' %}
    {% include('cards/entities/project.html') with { 'project' : post } %}
{% elseif post.data.post_type == 'publications' %}
    {% include(is_prominent ? 'cards/entities/publication-with-image.html' : 'cards/entities/publication.html') with { 'publication' : post } %}
{% elseif post.data.post_type == 'regions' %}
    {% include('cards/entities/region.html') with { 'region' : post } %}
{% elseif post.data.post_type == 'topics' %}
    {% include('cards/entities/topic.html') with { 'topic' : post } %}
{% endif %}