// The getskeleton.com responsive CSS framework, as a starting point.
@import "skeleton-scss/skeleton";
// Fleming-specific
@import "common-scss/colours";
@import "common-scss/fonts";
@import "common-scss/grey-box";
@import "common-scss/buttons-dark";
@import "common-scss/navigation";
@import "common-scss/cards";

h1, h2, h3, h4, h5 {
  display: block;
  width: 100%;
}

h1 {
  margin-bottom: 0;
}

.logo-home {
  display: inline-block;
  margin: 15px 0;
  font-size: 0;
}

.header-search {
  float: right;
  margin: 40px 0 0;
  white-space: nowrap;

  input {
    display: inline-block;
    vertical-align: top;
  }

  button {
    display: inline-block;
    vertical-align: top;
  }
}

// Extra styles created for header, footer and front-page
nav.global-nav {
  ul {
    @include pipe_horizontal_ul(true);
  }

  background-color: black;
  color: white;
  li {
    font-size: 19px;
  }
}

nav.sub-global-nav {
  ul {
    @include pipe_horizontal_ul(true);
  }

  background-color: #F2F2F2;
  color: black;
  li {
    font-size: 16px;
  }
}

div.breadcrumbs {
  ul {
    @include breadcrumb_horizontal_ul(false);
  }

  margin: 2em 0 0.5em;
  color: black;
  li {
    font-size: 16px;
  }
}

ul.large-links {
  @include pipe_horizontal_ul(false);

  margin-bottom: 2em;
  li {
    font-size: 21px;
    line-height: 1.33;
  }
}

ul.horizontal-pipe {
  @include pipe_horizontal_ul(false);
}

input, button, .button {
  border-radius: 0 !important;
}

a {
  color: black;
  text-decoration: none;
}

p.solid-left-indent {
  border-left: 0.6em solid #000;
  padding-left: 2em;
}

img.avatar {
  border-radius: 50%;
  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  &.small {
    width: 80%;
    max-width: 150px;
  }
  &.large {
    width: 200px;
    min-width: 50%;
    max-width: 100%;
  }
}

.border-bottom-grey {
  border-bottom: 1px solid $light-grey;
}

div.row.statistics {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

h3.row-title {
  margin-top: 5rem;
  margin-bottom: 0.5rem
}

hr.row-divider {
  margin-top: 4rem;
  margin-bottom: 5rem;
  border-width: 0;
  border-top: 2px solid #000;
}

footer {
  p, li {
    font-size: 14px;
    margin: 0;
  }

  .footer-content {
    border-top: 1px solid #000;
    margin: 1em 0 3em;
    padding-top: 1em;
  }

  ul {
    white-space: nowrap;
  }

  .left, .right {
    width: 100%;
  }

  .social-links {
    @include pipe_horizontal_ul(false, 30px, middle);

    margin-bottom: 2em;
    display: inline-block;
    vertical-align: middle;

    li {
      img {
        height: 24px;
      }
    }
  }

  .copyright {
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0.3em;
  }

  .about-links {
    @include pipe_horizontal_ul(false);

    margin-top: 1em;
    margin-bottom: 2em;
    display: inline-block;
    vertical-align: middle;

    li a {
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }

    .forced-break {
      display: none;
    }
  }

  .right {
    display: inline-block;
    vertical-align: middle;

    .footer-content {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (#{$bp-larger-than-desktop}) {
  footer {
    .left {
      width: grid-column-width(8);
    }
    .right {
      width: grid-column-width(4);
      margin-left: $column-margin;
    }

    .about-links {
      .forced-break {
        display: block;
      }

      li:last-of-type:before {
        display: none !important;
      }
    }
  }
}

// Per-page CSS
@import 'page-types/single-organisation';

// aims page CSS
.expandable {
  cursor: pointer;
}

.expContent {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.downArrow {
  float: right;
}

// about page CSS
.infocardTitle{
  min-height: 3em;
}