@import "skeleton-scss/base/normalize";
@import "common-scss/skeleton-override/variables";
@import "skeleton-scss/base/functions";
@import "skeleton-scss/base/base-styles";
@import "skeleton-scss/base/utils";
@import "skeleton-scss/base/typography";

@import "common-scss/interface-constants";
@import "common-scss/skeleton-override/grid";
@import "skeleton-scss/modules/buttons";
@import "skeleton-scss/modules/forms";
@import "skeleton-scss/modules/lists";
@import "skeleton-scss/modules/code";
@import "skeleton-scss/modules/tables";
@import "skeleton-scss/modules/spacing";
@import "skeleton-scss/modules/media-queries";

@import "common-scss/colours";
@import "common-scss/fonts";

@import "common-scss/grey-box";
@import "common-scss/buttons-dark";
@import "common-scss/navigation";
@import "common-scss/cards";
@import "common-scss/map";

@import "common-scss/header";
@import "common-scss/nav";
@import "common-scss/footer";

h1, h2, h3, h4, h5 {
  display: block;
  width: 100%;
}

h1 {
  margin-bottom: 0;
}


input, button, .button {
  border-radius: 0 !important;
}

a {
  color: black;
  text-decoration: none;
}

p.solid-left-indent {
  border-left: 0.6em solid #000;
  padding-left: 2em;
}

img.avatar {
  border-radius: 50%;
  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  &.small {
    width: 80%;
    max-width: 150px;
  }
  &.large {
    width: 200px;
    min-width: 50%;
    max-width: 100%;
  }
}

.border-bottom-grey {
  border-bottom: 1px solid $light-grey;
}

div.row.statistics {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

h3.row-title {
  margin-top: 5rem;
  margin-bottom: 0.5rem
}

hr.row-divider {
  margin-top: 4rem;
  margin-bottom: 5rem;
  border-width: 0;
  border-top: 2px solid #000;
}

button.square-icon {
  $padding: 10px;
  box-sizing: border-box;
  width: $hit-box-height;
  height: $hit-box-height;
  padding: $padding;
  border: none;

  svg {
    width: ($hit-box-height - 2*$padding);
    height: ($hit-box-height - 2*$padding);
  }
}

button {
  background: $turquoise;

  &:hover, &:focus {
    opacity: 0.8;
  }
}

// Per-page CSS
@import 'page-types/single-organisation';

// aims page CSS
.expandable {
  cursor: pointer;
}

.expContent {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.downArrow {
  float: right;
}

// about page CSS
.infocardTitle{
  min-height: 3em;
}