Fleming single organisation

<h1>{{ title }}</h1>


<p>Address: {{ fields.address.value }}</p>

<p>Number of employees: {{ fields.number_of_employees.value }}</p>


<h2>About us</h2>

{% for content_block in fields.organisation_flexible_content.value %}
    {% if content_block.acf_fc_layout == 'text_block' %}
        
        <p><strong>Text block:</strong> {{ content_block.text_block_inner }}</p>

    {% elseif content_block.acf_fc_layout == 'quote' %}

        <p><strong>Quote:</strong> {{ content_block.quote_inner }}</p>

    {% endif %}
{% endfor %}

