{% set stepcounter = 1 %}
{% for step in fields.application_steps.value %}
<div class="row">
  {% if stepcounter < application_steps_count %}
    <div class="two columns row-title" style="align-items: center">
      <h3 class="application-label">Step {{ stepcounter }}</h3>
    </div>
    <div class="eight columns card application-card">
  {% else %}
    <div class="two columns row-title" style="align-items: center">
      <h3 class="application-label">&#10004</h3>
    </div>
    <div class="eight columns card dark-card application-card">
  {% endif %}
    <p>{{ step.application_step }}</p>
  </div>
</div>
{% set stepcounter = stepcounter + 1 %}
{% endfor %}