{% if opportunities %}
  <p style="margin: 0; color: #009898;">
    <span style="font-weight: bold; margin-right: 1em;">Current &amp; Upcoming Opportunities</span>
    <span style="font-size: 0.9em;"><a href="{{ nav.grantsPageLink.url }}">More</a></span>
  </p>
  <div class="card-container four-max opportunities">

    {% for i in 0..2 %}
      <div class="card">
        {% set opportunity = opportunities[i] %}
        {% if opportunity %}
          <a href={{ opportunity.permalink }}>
            {{ opportunity.data.post_title }}<br/>
            <span class="status"><b>Status:</b> {{ opportunity.status }}</span>
          </a>
        {% endif %}
      </div>
    {% endfor %}

    <div class="card base">
      <a class="hollow button" href={{ nav.howToApplyPageLink.url }}>How to Apply</a>
    </div>

  </div>
{% endif %}
