{% set map_id = 'map-'~random() %}
{% set map_config = map_config|merge(additional_map_config??[]) %}

<svg xmlns="http://www.w3.org/2000/svg" style="width:0;height:0;position:absolute;overflow:hidden;">
  <defs>
    {% for region in map_config.regions %}
      <pattern id="subtle-hatched-{{ region.colourScheme }}"
               x="0" y="0" width="2" height="2"
               patternUnits="userSpaceOnUse"
               patternTransform="rotate(45)">
        <path d="M1 0 V 2" stroke="darkgrey" stroke-width="1.5"/>
      </pattern>
    {% endfor %}
  </defs>
</svg>

<div class="map-container {{ map_config.interactive ? 'interactive' }}" aria-hidden="true">
  <div class="container alignment-helper buttons">
    <button id="{{ map_id }}-zoom-in" class="zoom-in square-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="6 6 20 20">
        <path d="M14 6 H 18 V 14 H 26 V 18 H 18 V 26 H 14 V 18 H 6 V 14 H 14 Z"/>
      </svg>
    </button>
    <button id="{{ map_id }}-zoom-out" class="zoom-out square-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="6 6 20 20">
        <path d="M6 14 H 26 V 18 H 6 Z"/>
      </svg>
    </button>
  </div>
  <div class="map" id="{{ map_id }}"></div>
</div>

{% if weight == 'heavy' %}
  <script type="text/javascript">
      //<![CDATA[
      Fleming.map.init(
          {{ map_config|json_encode|raw }},
          '{{ map_id }}'
      );
      //]]>
  </script>
{% endif %}