@each $configName, $colourConfig in $colourConfigs {
  pattern#subtle-hatched-#{$configName} path {
    stroke: map_get($colourConfig, subtle);
  }
}

.map-container {
  display: none;
  height: 200px;
  height: 30vh;
  position: relative;

  .alignment-helper {
    height: 0;
    position: relative;
    overflow: visible;
    z-index: 1;
  }

  .map {
    z-index: 0;
    height: 100%;
    position: relative;
  }

  .buttons {
    display: none;
  }

  .jvectormap-zoomin, .jvectormap-zoomout {
    display: none;
  }

  .zoom-in, .zoom-out {
    position: absolute;
    left: 0;
  }

  .zoom-in {
    top: $hit-box-height;
    background: $dark-grey;

    svg {
      fill: #fff;
    }

    &:hover, &:focus {
      background: #000;
    }
  }

  .zoom-out {
    top: ($hit-box-height * 2);
    background: #fff;

    svg {
      fill: $dark-grey;
    }

    &:hover, &:focus {
      background: $light-grey;
    }
  }

  &.interactive {
    .buttons {
      display: block;
    }
  }

  // Map colours

  .jvectormap-region {
    fill-opacity: 1;

    &.not-highlighted {
      fill-opacity: 0.2;
    }

    @each $configName, $colourConfig in $colourConfigs {
      &.#{$configName} {
        fill: map-get($colourConfig, intense);

        &.partner {
          fill: url(#subtle-hatched- + $configName) map-get($colourConfig, subtle);
        }

        &:hover {
          fill-opacity: 0.6;
        }
      }
    }
  }
}