<nav class="global-nav">
  <div class="container">
    <ul>
      {% for link in nav.globalMenuLinks %}
        {% include 'page-elements/nav-link.html' %}
      {% endfor %}
    </ul>
  </div>
</nav>

<nav class="sub-global-nav">
  {% if nav.subGlobalMenuLinks is not empty %}
    <div class="container">
      {% if nav.tertiaryMenuLinks is not empty %}

        <ul class="all-but-first-in-submenu">
          {% for link in nav.subGlobalMenuLinks %}
            {% if link.active %}
              {% include 'nav/link-item-text.html' %}
            {% endif %}
          {% endfor %}

          {% include 'nav/link-items-text.html' with {'links': nav.tertiaryMenuLinks} %}
        </ul>

      {% else %}

        <ul>
          {% include 'nav/link-items-text.html' with {'links': nav.subGlobalMenuLinks} %}
        </ul>

      {% endif %}
    </div>
  {% endif %}
</nav>

{% if weight == 'heavy' %}
<script type="text/javascript">
    Fleming.nav.init();
</script>
{% endif %}