{% if level < current_status %}
<div class="progress-box past">
{% elseif level == current_status %}
<div class="progress-box now">
{% elseif level > current_status %}
<div class="progress-box future">
{% endif %}

  {% if level < current_status %}
    <div class="tick">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23">
        <path d="M 0 9 L 2 7 L 8 13 L 21 0 L 23 2 L 8 17 Z"/>
      </svg>
    </div>
  {% endif %}

  <div class="details">
    <p class="date">{{ date }}</p>
    <p class="status">{{ status }}</p>
  </div>

  {% if last %}
    <div class="last-indicator">
      <div class="arrow-whitespace">
        &nbsp;
      </div>
    </div>
  {% endif %}

</div>