.progress-box {
    margin: 0.1%;
    width: 24.8%;
    float: left;
    color: white;
    position: relative;
}

.past {
    background-color: darkgreen;
}

.now {
    background-color: lightgreen;
}

.future {
    background-color: grey;
}

.tickbox {
    font-size: 2em;
    padding-right: 0.5em;
    position: absolute;
    right:0; top: 50%;
    transform: translate(0,-50%)
}